<a href="https://colab.research.google.com/github/Jissy-Joy/Jissy-repository/blob/master/datastructures_1_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#assigning elements to a list 
 
list1=[5,10,15] 
list2=["apple", "peaches","orange"]
print(list1) 
list1.append(2) 
print(list1)
print(list2) 
list2.append("mango") 
print(list2)
 
#accessing elements from a tuple
 
tuple1=(5,10,15,20) 
print(tuple1) 
print(tuple1[2])
print(tuple1[1: ]) 
 
#deleting element from a dictionary 
 
dict1={"albin":10,"salvin":20,"johnvin":30}
print(dict1) 
del dict1["albin"]
print(dict1)

[5, 10, 15]
[5, 10, 15, 2]
['apple', 'peaches', 'orange']
['apple', 'peaches', 'orange', 'mango']
(5, 10, 15, 20)
15
(10, 15, 20)
{'albin': 10, 'salvin': 20, 'johnvin': 30}
{'salvin': 20, 'johnvin': 30}